name: Build and deploy to gh pages with Trunk

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown
      - uses: jetli/trunk-action@v0.5.1
      - uses: jetli/wasm-bindgen-action@v0.2.0
      - uses: actions/checkout@v5
      - run: trunk build --release
        env:
          TRUNK_BUILD_PUBLIC_URL: "/try_hyperbez/"
      - uses: actions/upload-pages-artifact@v4
        with:
          path: dist

  deploy:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
